<%- include('header'); -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a neque urna. Cras urna odio, aliquam at luctus non, finibus sagittis mauris. Duis congue purus dictum dui dapibus, in luctus odio rutrum. In at mauris vitae nisl vestibulum cursus eget a ex. Vivamus mollis fermentum ipsum eget aliquam. Praesent bibendum, libero in bibendum efficitur, ipsum tellus congue tortor, quis suscipit risus dui et lectus. Donec arcu lorem, elementum in venenatis non, hendrerit vestibulum sem. Mauris ut rutrum lectus. Proin fermentum id leo nec pretium. Proin gravida condimentum sapien, id viverra libero consectetur ut. Phasellus ultrices turpis a lacus eleifend, in cursus ipsum semper. Nunc sed lectus volutpat, congue tortor ut, tincidunt erat. Nam volutpat ligula sed neque lobortis volutpat.</p>

<%- include('footer'); -%>